NODE_ENV=development
PORT=3043
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cibdhk_sql?schema=public"
JWT_SECRET="change-me"
JWT_EXPIRES_IN="7d"
JWT_COOKIE_EXPIRES_IN=7
FRONTEND_URL="http://localhost:5174"
RESEND_API_KEY=
EMAIL_FROM=
EMAIL_FROM_NAME=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
